.DS_Store
**/UserInterfaceState.xcuserstate
**/xcuserdata/*
Pods
Podfile.lock
Build
Logs
ModuleCache.noindex
info.plist
**.zip
fastlane/report.xml
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata